@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  .hover-button {
    display: flex;
    height: 36px;
    padding: 8px 16px;
    border-radius: 6px;
    background: transparent;
    color: transparent;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.hide:hover {
  .hover-button {
    display: flex;
    height: 36px;
    padding: 8px 16px;
    border-radius: 6px;
    background: #f0f1f4;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #181e34;
  }
}
